<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiriStage | Criar Vaga</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
</head>
<body class="body-vertical">
    <header class="header-horizontal">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/siristage_logo.png') }}" alt="SiriStage Logo">
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="/criar-vagas" class="create-vacancy-btn">Criar Vaga</a></li>
                <li><a href="/perfil-empresa" class="enterprise-profile"><img src="{{ url_for('static', filename='assets/icon-perfil.png') }}">Perfil da Empresa</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Aqui vai as vagas...</h1>
    </main>

    <script>

    </script>
</body>
</html>