@charset "UTF-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color001: #0b90c8;
    --color002: #2ea9d6;
    --color003: #51c2e4;
    --color004: #73daf1;
    --color005: #96f3ff;
    --color006: #f3f3f3;

    --font001: "Ubuntu", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font001);
    background-color: var(--color006);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#body-main-page {
    overflow-y: hidden;
}

#body-candidate-page {
    overflow-y: auto;
}

.left-container {
    width: 40%;
    height: 100vh;
    background-color: var(--color001);
    color: var(--color006);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.header {
    width: 100%;
}

.logo {
    padding: 2rem;
}

.logo img {
    width: 150px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(86%) saturate(1%) hue-rotate(46deg) brightness(107%) contrast(108%);
}

.left-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.left-content h1 {
    margin: 0;
    font-size: 3rem;
}

.left-content h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 450px;
}

.user-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-header {
    color: black;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.user-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.user-header h2 {
    color: rgb(39, 39, 39);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-buttons a {
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    width: 450px;
}

#candidate-btn {
    color: var(--color006);
    background-color: var(--color001);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

#candidate-btn:hover {
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);
    transform: translate(-2px, -2px);
    color: var(--color001);
    background-color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

#enterprise-btn {
    color: var(--color001);
    background-color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    font-weight: 500;
}

#enterprise-btn:hover {
    transform: translate(-2px, -2px);
    color: var(--color006);
    background-color: var(--color001);
}

/* Formulário */

.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.form-header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.input-item input {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    transition: all .3s ease;
}

.input-item input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

#item-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.register-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color001);
    color: var(--color006);
    font-size: 1rem;
    font-family: var(--font001);
    font-weight: 500;
    transition: all .3s ease;
}

.register-btn:hover {
    cursor: pointer;
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

.have-account {
    margin: 0;
}

.have-account span {
    color: var(--color001);
    cursor: pointer;
}

.have-account span:hover {
    text-decoration: underline;
}

.back-btn {
    padding: 1rem;
    width: 60%;
}

.back-btn a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color001);
    text-decoration: none;
}

.back-btn img {
    width: 15px;
    filter: brightness(0) saturate(100%) invert(65%) sepia(75%) saturate(7212%) hue-rotate(174deg) brightness(98%) contrast(91%);
}

/* Media Queries */

@media (max-width: 1366px) {
    #left-container-form-page{
        overflow-y: hidden;
        position: fixed;
        margin-right: 60%;
    }
    
    .form-container {
        overflow-y: auto;
        margin-left: 40%;
        height: 130vh;
    }

    .left-content h1 {
        font-size: 2rem;
    }

    .left-content h2 {
        font-size: 1.2rem;
    }

    .image img {
        width: 350px;
    }    
}