@charset "UTF-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');

:root {
    --color001: #0b90c8;
    --color002: #2ea9d6;
    --color003: #51c2e4;
    --color004: #73daf1;
    --color005: #96f3ff;
    --color006: #f3f3f3;

    --font001: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font001);
    background-color: var(--color006);
    display: flex;
    justify-content: center;
}

#body-main-page {
    overflow-y: hidden;
}

.left-container {
    width: 40%;
    height: 100vh;
    background-color: var(--color001);
    color: var(--color006);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.header {
    width: 100%;
}

.logo {
    padding: 2rem;
}

.logo img {
    width: 150px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(86%) saturate(1%) hue-rotate(46deg) brightness(107%) contrast(108%);
}

.left-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.left-content h1 {
    margin: 0;
    font-size: 3rem;
}

.left-content h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 450px;
}

.user-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-header {
    color: black;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.user-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.user-header h2 {
    color: rgb(39, 39, 39);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-buttons a {
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    width: 450px;
}

#candidate-btn {
    color: var(--color006);
    background-color: var(--color001);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

#candidate-btn:hover {
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);
    transform: translate(-2px, -2px);
    color: var(--color001);
    background-color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

#enterprise-btn {
    color: var(--color001);
    background-color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    font-weight: 500;
}

#enterprise-btn:hover {
    transform: translate(-2px, -2px);
    color: var(--color006);
    background-color: var(--color001);
}

/* Formulário */

.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.form-header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.form {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.input-item input {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    transition: all .3s ease;
}

.input-item input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

#item-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.register-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color001);
    color: var(--color006);
    font-size: 1rem;
    font-family: var(--font001);
    font-weight: 500;
    transition: all .3s ease;
}

.register-btn:hover {
    cursor: pointer;
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

.have-account {
    margin: 0;
}

.have-account span {
    color: var(--color001);
    cursor: pointer;
}

.have-account span:hover {
    text-decoration: underline;
}

.back-btn {
    padding: 1rem;
    width: 60%;
}

.back-btn a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color001);
    text-decoration: none;
}

.back-btn img {
    width: 15px;
    filter: brightness(0) saturate(100%) invert(65%) sepia(75%) saturate(7212%) hue-rotate(174deg) brightness(98%) contrast(91%);
}

.incorreto {
    box-shadow: inset 0px 0px 0px 2px red;
}

.erro-senha {
    color: red;
    display: none;
}

/* Definição Páginas com Menu Superior */

.body-vertical {
    flex-direction: column;
}

.header-horizontal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color001);
}

/* Página de Criação de Vagas */

nav {
    width: 35%;
}

.nav-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    margin-right: 2rem;
}

.nav-menu a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.nav-menu-left {
    width: 50%;
    display: flex;
    gap: 1rem;
}

.nav-menu-left li {
    width: 50%;
}

#vacancy-form-container {
    width: 100%;
    height: calc(100vh - 82px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacancy-form-container {
    width: 60%;
}

#vacancy-form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.my-vacancies-btn {
    background-color: var(--color006);
    color: var(--color001);
    padding: 1rem;
    border-radius: .5rem;
    width: 180px;
    transition: all .3s ease;
}

.my-vacancies-btn:hover {
    background-color: var(--color001);
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
    transform: translate(-2px, -2px);
}

.create-vacancy-btn {
    background-color: var(--color006);
    color: var(--color001);
    padding: 1rem;
    border-radius: .5rem;
    width: 180px;
    transition: all .3s ease;
}

.create-vacancy-btn:hover {
    background-color: var(--color001);
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
    transform: translate(-2px, -2px);
}

.enterprise-profile {
    color: var(--color006);
    transition: all .3s ease;
}

.enterprise-profile:hover {
    color: #d1d1d1;
}

.enterprise-profile img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(86%) saturate(1%) hue-rotate(46deg) brightness(107%) contrast(108%);
}

.input-item textarea {
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    transition: all .3s ease;
}

.input-item textarea:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

/* Perfil da Empresa */

#enterprise-profile-container {
    width: 100%;
    height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprise-profile-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: .5rem;
}

.enterprise-profile-header h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.enterprise-profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.enterprise-profile-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .3rem;
}

.enterprise-profile-item h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.enterprise-profile-item p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.enterprise-profile-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.enterprise-profile-actions button {
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transition: all .3s ease;
}

.edit-enterprise-btn {
    cursor: pointer;
    background-color: var(--color001);
    color: var(--color006);
    padding: 1rem;
    border-radius: .5rem;
}

.edit-enterprise-btn:hover {
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    transform: translate(-2px, -2px);
}

.delete-enterprise-btn {
    cursor: pointer;
    background-color: var(--color006);
    color: red;
    box-shadow: inset 0px 0px 0px 2px red;
    padding: 1rem;
    border-radius: .5rem;
}

.delete-enterprise-btn:hover {
    background-color: red;
    color: var(--color006);
    transform: translate(-2px, -2px);
}

/* Edição de perfil */

#enterprise-edit-profile-container {
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprise-profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprise-profile-item input {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    transition: all .3s ease;
}

.enterprise-profile-item input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color001);
}

.save-edits-btn {
    cursor: pointer;
    background-color: var(--color001);
    color: var(--color006);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transition: all .3s ease;
}

.save-edits-btn:hover {
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    transform: translate(-2px, -2px);
}

/* Perfil do Candidato */

#candidate-profile-container {
    width: 100%;
    height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidate-profile-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: .5rem;
}

.candidate-profile-header h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.candidate-profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.candidate-profile-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .3rem;
}

.candidate-profile-item h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.candidate-profile-item p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.candidate-profile-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.candidate-profile-actions button {
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transition: all .3s ease;
}

.edit-candidate-btn {
    cursor: pointer;
    background-color: var(--color001);
    color: var(--color006);
    padding: 1rem;
    border-radius: .5rem;
}

.edit-candidate-btn:hover {
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    transform: translate(-2px, -2px);
}

.delete-candidate-btn {
    cursor: pointer;
    background-color: var(--color006);
    color: red;
    box-shadow: inset 0px 0px 0px 2px red;
    padding: 1rem;
    border-radius: .5rem;
}

.delete-candidate-btn:hover {
    background-color: red;
    color: var(--color006);
    transform: translate(-2px, -2px);
}

/* Página de Vagas */

.vacancy-list-container {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.vacancy-list-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vacancy-list-header p {
    display: flex;
    gap: 1rem;
    margin: 0;
}

.vacancy-list-header p a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    font-size: 1rem;
    font-weight: 400;
    transition: all .3s ease;
}

.vacancy-list-header p a:hover {
    color: black;
}

.vacancy-list-header p span {
    color: black;
}

.vacancy-list-header h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.vacancy-list-header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.vacancy-list-container hr {
    margin: 2rem 0 2rem 0;
}

.vacancy-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.vacancy-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.vacancy-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vacancy-info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.vacancy-info h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: rgb(133, 133, 133);
}

.vacancy-info p {
    margin: 0;
}

.vacancy-details {
    display: flex;
    gap: 1rem;
}

.vacancy-details p {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 12px;
    font-weight: 400;
}

.vacancy-details img {
    width: 20px;
}

.vacancy-actions .apply-btn {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color001);
    color: var(--color006);
    font-size: 1rem;
    font-family: var(--font001);
    font-weight: 400;
    transition: all .3s ease;
}

.vacancy-actions .apply-btn:hover {
    cursor: pointer;
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    transform: translate(-2px, -2px);
}

.no-vacancies {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

/* Página de Vagas da Empresa */

.vacancy-actions {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.vacancy-actions button {
    font-size: 1rem;
    font-weight: 400;
    border: none;
    transition: all .3s ease;
}

.edit-vacancy-btn {
    cursor: pointer;
    background-color: var(--color001);
    color: var(--color006);
    padding: 1rem;
    border-radius: .5rem;
}

.edit-vacancy-btn:hover {
    background-color: var(--color006);
    color: var(--color001);
    box-shadow: inset 0px 0px 0px 2px var(--color001);
    transform: translate(-2px, -2px);
}

.delete-vacancy-btn {
    cursor: pointer;
    background-color: var(--color006);
    color: red;
    box-shadow: inset 0px 0px 0px 2px red;
    padding: 1rem;
    border-radius: .5rem;
}

.delete-vacancy-btn:hover {
    background-color: red;
    color: var(--color006);
    transform: translate(-2px, -2px);
}

/* Media Queries */

@media (max-width: 1366px) {
    #left-container-form-page{
        overflow-y: hidden;
        position: fixed;
        margin-right: 60%;
    }
    
    .form-container {
        overflow-y: auto;
        margin-left: 40%;
        height: 130vh;
    }

    .left-content h1 {
        font-size: 2rem;
    }

    .left-content h2 {
        font-size: 1.2rem;
    }

    .image img {
        width: 350px;
    }  
    
    #vacancy-form-container {
        height: 120vh;
    }

    nav {
        width: 50%;
    }
}
